{
  "name": "{{scheme-name}}",
  "description": "Generated base16 theme",
  "version": "1",
  "manifest_version": 2,
  "theme": {
    "colors" : {
      "frame" : [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}],
      "frame_incognito" : [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}],
      "frame_inactive" : [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "frame_incognito_inactive" : [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "toolbar" : [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
      "tab_text" : [{{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}],
      "ntp_text" : [{{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}}],
      "ntp_link" : [{{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}],
      "ntp_section" : [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
      "ntp_background" : [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
      "button_background" : [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}]
    },
    "tints" : {
      "buttons" : [{{base07-dec-h}}, {{base07-dec-s}}, {{base07-dec-v}}]
    }
  }
}
